body {
    background-image: linear-gradient(45deg, #DE7684,#615195);
    background-repeat: no-repeat;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
    background-color: #F7F7F7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    padding: 1rem;
    height: auto;
}

.panel .navbar a {
    text-decoration: none;
    color: #615195;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 10px;
}
